let mapleader = " "
let g:netrw_liststyle = 3

set lookupkeys=<Tab>,<Down>,<Up>,<Enter>,<Left>,<Right>,<C-Down>,<C-Up>,<PageUp>,<PageDown>,<C-Q>

set multiple-cursors
set surround
set commentary
set NERDTree

imap jk <Esc>
iunmap <C-j>
imap <C-j> :action EditorDown<CR>
imap <C-k> :action EditorUp<CR>
nmap <Leader>ca :action ShowIntentionActions<CR>
nmap <Leader>cg :action Generate<CR>
nnoremap <leader>dl :action ShowErrorDescription<CR>

set relativenumber
set number

set tabstop=4         
set shiftwidth=4      
set expandtab        
set autoindent        

set nowrap
set ignorecase   
set smartcase     

set termguicolors
set signcolumn=yes

set backspace=indent,eol,start 
set clipboard+=unnamedplus


nnoremap <Leader><F4> :action RestartIde<CR>
nnoremap <Leader><F5> :action Run<CR>
nnoremap <Leader><F6> :action Rerun<CR>
nnoremap <Leader><F7> :action Debug<CR>
nnoremap <Leader><F8> :action Stop<CR>

nmap s <Action>(flash.search)
xmap s <Action>(flash.search)


nnoremap <leader>ee :NERDTreeToggle<CR>
