* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm NF", "Terminus", "monospace";
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #444444;
}

#workspaces button {
    padding: 0 4px;
    background-color: #333333;
    background-image: none;
    color: #ffffff;
    border-radius: 0;
    transition: none;
    box-shadow: inset 0 0 0 transparent;
}

#workspaces button:hover {
    background-color: #444444;
    background-image: none;
    transition: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    background-color: #285577;
    background-image: none;
}

#workspaces button.active:hover {
    background-color: #285577;
    background-image: none;
    transition: none;
    box-shadow: none;
}

#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.visible {
    background-image: none;
    transition: none;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#mode,
#window {
    padding: 0 5px;
    color: #ffffff;
}

#custom-sep {
    color: #666666;
    padding: 0 2px;
}

#battery.critical {
    color: #ff0000;
}

#window {
    font-weight: normal;
}
