* {
  border: none;
  border-radius: 4px;
  font-family: "IosevkaTerm NF", Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: #1f1311;
  color: #f2ddbc;
}

#workspaces button {
  padding: 4px 4px;
  margin: 2px 2px;
  border-radius: 4px;
  color: #e0ccae;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #f2ddbc;
}

#workspaces button.active {
  color: #291916;
  background-color: #a4895c;
}

#workspaces button.focused {
  background-color: #a4896f;
}

#workspaces button.urgent {
  background-color: #bf472c;
}

#mode {
  background-color: #66292f;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 6px 3px;
  color: #0f0908;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #291916;
  color: #f2ddbc;
}

#battery {
  background-color: #a67458;
  color: #1f1311;
}

#battery.charging {
  color: #f2ddbc;
  background-color: #6b4035;
}

@keyframes blink {
  to {
    background-color: #d47d49;
    color: #0f0908;
  }
}

#battery.critical:not(.charging) {
  background-color: #bf472c;
  color: #f2ddbc;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #66292f;
}

#cpu {
  background-color: #a4895c;
  color: #0f0908;
}

#memory {
  background-color: #d47d49;
  color: #0f0908;
}

#backlight {
  background-color: #f2a766;
  color: #0f0908;
}

#network {
  background-color: #6b4035;
  color: #f2ddbc;
}

#network.disconnected {
  background-color: #8a4b53;
}

#pulseaudio {
  background-color: #8a4b53;
  color: #f2ddbc;
}

#pulseaudio.muted {
  background-color: #66292f;
  color: #e0ccae;
}

#custom-media {
  background-color: #d47d49;
  color: #291916;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #a67458;
}

#custom-media.custom-vlc {
  background-color: #f2a766;
}

#temperature {
  background-color: #d47d49;
}

#temperature.critical {
  background-color: #bf472c;
}

#tray {
  background-color: #a4896f;
}

#idle_inhibitor {
  background-color: #6b4035;
}

#idle_inhibitor.activated {
  background-color: #e0ccae;
  color: #291916;
}

#mpd {
  background-color: #a67458;
  color: #291916;
}

#mpd.disconnected {
  background-color: #8a4b53;
}

#mpd.stopped {
  background-color: #a4895c;
}

#mpd.paused {
  background-color: #6b4035;
}

#language {
  background: #e0ccae;
  color: #291916;
  padding: 0 5px;
  margin: 6px 3px;
  min-width: 16px;
}
